<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/homepage.css' />
  </head>
  <body>
    <div>
      <nav class="container">
       <ul>
           <li><a href="/resume">About Me</a></li>
           <li><a href="/">Home</a></li>
           <li><a href="/project">My Project</a></li>
           
       
       </ul>
       </nav>
      </div>
      <div class="welcome">
       <h1>Hi I'm <span>Gian Carlo D. Sinday</span> </h1>
       <p>This is my Portfolio</p>
       <div class="pic">
           <img src='/images/prof.jpg' alt="">
       </div>
      </div>
   <footer>
       &#169; By Gian Carlo Sinday
      
   </footer>
  </body>
</html>
