<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Periodic Table</title>
	<link rel="stylesheet" href='/stylesheets/periodic.css'>
</head>
<body>
	<div>
		<nav>
			<h1>Periodic Table of the Elements</h1>
			<ul >
				<li><a href="/project">Home</a></li>
			</ul>
		</nav>
	</div>
<table width="100%">
	
	<tr>
		<td class="yellow">1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.008<h2>H</h2>Hydrogen</td>
		<td colspan="16" style="border:none;"></td>
		<td class="violet">2<h2>He</h2>Helium</td>
	</tr>
	<tr>
		<td class="red">3<h2>Li</h2>Lithium</td>
		<td class="blue">4<h2>Be</h2>Beryllium</td>
		<td colspan="10" style="border:none;"></td>
		<td class="raspberry">5<h2>B</h2>Baron</td>
		<td class="yellow">6<h2>C</h2>Carbon</td>
		<td class="yellow">7<h2>N</h2>Nitrogen</td>
		<td class="yellow">8<h2>O</h2>Oxygen</td>
		<td class="green">9<h2>F</h2>Flourine</td>
		<td class="violet">10<h2>Ne</h2>Neon</td>
	</tr>
	<tr>
		<td class="red">11<h2>Na</h2>Sodium</td>
		<td class="blue">12<h2>Mg</h2>Magnesium</td>
		<td colspan="10" style="border:none;"></td>
		<td class="azure">13<h2>Al</h2>Aluminum</td>
		<td class="raspberry">14<h2>Si</h2>Silicon</td>
		<td class="yellow">15<h2>P</h2>Phosphorus</td>
		<td class="yellow">16<h2>S</h2>Sulfur</td>
		<td class="green">17<h2>Cl</h2>Chlorine</td>
		<td class="violet">18<h2>Ar</h2>Argon</td>
	</tr>	
	<tr>
		<td class="red">19<h2>K</h2>Potassium</td>
		<td class="blue">20<h2>Ca</h2>Calcium</td>
		<td class="orange">21<h2>Sc</h2>Scandium</td>
		<td class="orange">22<h2>Ti</h2>Titanium</td>	
		<td class="orange">23<h2>V</h2>Vanadium</td>	
		<td class="orange">24<h2>Cr</h2>Chromium</td>
		<td class="orange">25<h2>Mn</h2>Manganese</td>	
		<td class="orange">26<h2>Fe</h2>Iron</td>	
		<td class="orange">27<h2>Co</h2>Cobalt</td>
		<td class="orange">28<h2>Ni</h2>Nickle</td>	
		<td class="orange">29<h2>Cu</h2>Copper</td>	
		<td class="orange">30<h2>Zn</h2>Zinc</td>
		<td class="azure">31<h2>Ga</h2>Galium</td>	
		<td class="raspberry">32<h2>Ge</h2>Germanium</td>	
		<td class="raspberry">33<h2>As</h2>Arsenic</td>
		<td class="yellow">34<h2>Se</h2>Selenium</td>	
		<td class="green">35<h2>Br</h2>Bromine</td>
		<td class="violet">36<h2>Kr</h2>Krypton</td>	
	</tr>	
	<tr>
		<td class="red">37<h2>Rb</h2>Rubidium</td>
		<td class="blue">38<h2>Sr</h2>Calcium</td>
		<td class="orange">39<h2>Y</h2>Yttrium</td>
		<td class="orange">40<h2>Zr</h2>Zirconium</td>	
		<td class="orange">41<h2>Nb</h2>Niobium</td>	
		<td class="orange">42<h2>Mo</h2>Molybdenum</td>
		<td class="orange">43<h2>Tc</h2>Technetium</td>	
		<td class="orange">44<h2>Ru</h2>Ruthenium</td>	
		<td class="orange">45<h2>Rh</h2>Rhodium</td>
		<td class="orange">46<h2>Pd</h2>Palladium</td>	
		<td class="orange">47<h2>Ag</h2>Silver</td>	
		<td class="orange">48<h2>Cd</h2>Cadmium</td>
		<td class="azure">49<h2>In</h2>Indium</td>	
		<td class="azure">50<h2>Sn</h2>Tin</td>	
		<td class="raspberry">51<h2>Sb</h2>Antimony</td>
		<td class="raspberry">52<h2>Te</h2>Tellurium</td>	
		<td class="green">53<h2>I</h2>Scandium</td>
		<td class="violet">54<h2>Xe</h2>Xenon</td>	
	</tr>		
	<tr>
	
    	<td class="red">55<h2>Cs</h2>Caesium</td>	
    	<td Class="blue">56<h2>Ba</h2>Barium</td>
    	<td colspan="1" style="border:none;"></td>	
	    <td class="orange">72<h2>Hf</h2>Hafnium</td>	
     	<td class="orange">73<h2>Ta</h2>Tantalum</td>
     	<td class="orange">74<h2>W</h2>Tungsten</td>	
    	<td class="orange">75<h2>Re</h2>Rhenium</td>	
     	<td class="orange">76<h2>Os</h2>Osmium</td>
    	<td class="orange">77<h2>Ir</h2>Iridium</td>	
    	<td class="orange">78<h2>Pt</h2>Platinum</td>	
    	<td class="orange">79<h2>Au</h2>Gold</td>
    	<td class="orange">80<h2>Hg</h2>Mercury</td>	
    	<td class="azure">81<h2>Tl</h2>Thallium</td>
     	<td class="azure">82<h2>Pb</h2>lead</td>	
     	<td class="azure">83<h2>Bi</h2>Bismuth</td>
     	<td class="raspberry">84<h2>Po</h2>Polonium</td>
     	<td class="green">85<h2>At</h2>Astatine</td>
     	<td class="violet">86<h2>Rn</h2>Radon</td>
	</tr>
		
		<tr>
		<td class="red">87<h2>Fr</h2>Francium</td>	
		<td class="blue">88<h2>Ra</h2>Radium</td>
		<td colspan="1" style="border:none;"></td>	
		<td class="orange">104<h2>Rf</h2>Rutherfordium</td>
        <td class="orange">105<h2>Db</h2>Dubnium</td>
		<td class="orange">106<h2>Sg</h2>Seaborgium</td>	
		<td class="orange">107<h2>Bh</h2>Bohrium</td>	
		<td class="orange">108<h2>Hs</h2>Hassium</td>
		<td class="orange">109<h2>Mt</h2>Meitnerium</td>	
		<td class="orange">110<h2>Ds</h2>Darmstadtium</td>	
		<td class="orange">111<h2>Rg</h2>Roentgenium</td>
		<td class="orange">112<h2>Cn</h2>Copernicium</td>	
		<td class="azure">113<h2>Nh</h2>Nihonium</td>
		<td class="azure">114<h2>Fl</h2>Flerovium</td>	
		<td class="azure">115<h2>Mc</h2>Moscovium</td>
		<td class="azure">116<h2>Lv</h2>Livermorium</td>
		<td class="green">117<h2>Ts</h2>Tennessine</td>
		<td class="violet">118<h2>Og</h2>Oganesson</td>
		
		</tr>
		
		<tr>
		<td class="red">119<h2>Uue</h2>Ununennium</td>
		<td class="blue">120<h2>Ubn</h2>Unbinilium</td>
		<td colspan="16" style="border:none;"></td>
		</tr>
		
		<tr>
		<td colspan="2" style="border:none;"> </td>
		<td class="scarlet">57<h2>La</h2>Lanthanum</td>	
		<td class="scarlet">58<h2>Ce</h2>Cerium</td>
		<td class="scarlet">59<h2>Pr</h2>Praseodymium</td>	
		<td class="scarlet">60<h2>Nd</h2>Neodymium</td>	
		<td class="scarlet">61<h2>Pm</h2>Promethium</td>
		<td class="scarlet">62<h2>Sm</h2>Samarium</td>	
		<td class="scarlet">63<h2>Eu</h2>Europium</td>	
		<td class="scarlet">64<h2>Gd</h2>Gadolinium</td>
		<td class="scarlet">65<h2>Tb</h2>Terbium</td>	
		<td class="scarlet">66<h2>Dy</h2>Dysprosium</td>
		<td class="scarlet">67<h2>Ho</h2>Holmium</td>	
		<td class="scarlet">68<h2>Er</h2>Erbium</td>
		<td class="scarlet">69<h2>Tm</h2>Thulium</td>
		<td class="scarlet">70<h2>Yb</h2>Ytterbium</td>	
		<td class="scarlet">71<h2>Lu</h2>Lutetium</td>
		</tr>
        <tr>
            <td colspan="2" style="border:none;"> </td>
            <td class="pine">89<h2>Ac</h2>Actinium</td>	
            <td class="pine">90<h2>Th</h2>Thorium</td>
            <td class="pine">91<h2>Pa</h2>Protactinium</td>	
            <td class="pine">92<h2>U</h2>Uranium</td>	
            <td class="pine">93<h2>Np</h2>Neptunium</td>
            <td class="pine">94<h2>Pu</h2>Plutonium</td>	
            <td class="pine">95<h2>Am</h2>Amercium</td>	
            <td class="pine">96<h2>Cm</h2>Curium</td>
            <td class="pine">97<h2>Bk</h2>Berkelium</td>	
            <td class="pine">98<h2>Cf</h2>Californium</td>
            <td class="pine">99<h2>Es</h2>Einsteinium</td>	
            <td class="pine">100<h2>Fm</h2>Fermium</td>
            <td class="pine">101<h2>Md</h2>Mendelevium</td>
            <td class="pine">102<h2>No</h2>Nobelium</td>	
            <td class="pine">103<h2>Lr</h2>Lawrencium</td>
            </tr>
            
            <tr>
            <td colspan="2" style="border:none;"> </td>
            <td class="snow">121<h2>Ubu</h2>Unbiunium</td>	
            <td class="snow">122<h2>Ubb</h2>Unbibium</td>
            <td class="snow">123<h2>Ubt</h2>Unbitrium</td>	
            <td class="snow">124<h2>Ubq</h2>Unbiquadium</td>	
            <td class="snow">125<h2>Ubp</h2>Unbipentium</td>
            <td class="snow">126<h2>Ubh</h2>Unbihexium</td>	
            <td class="snow">127<h2>Ubs</h2>Unbiseptium</td>
            </tr>
            
            
            <tr>
                <td colspan="2" style="border:none;"> </td>	
                <td colspan="2" style="border:none;"> </td>	
                <td colspan="2" style="border:none;"> </td>
                
                  </tr>
                  </table>  
                </body>
        </html>