<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href='/stylesheets/pro.css'>
</head>
<body>
    <div class="cont">
        
        <nav>
            <img src="/images/ca.png" class="imgd"> 
            <h1>WHO AM I?</h1>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <div class="profile-card">
            <div class="profile-header">
                <img src='/images/prof.jpg' alt="">
                <h1 class="name">Hi I'm <span>Gian Carlo D. Sinday</span></h1>
                <p class="title"> Web designer</p>
            </div>
            <div class="profile-body">
                <p class="description"><h2>About Me</h2><br>Age: 21 yrs old <br> Date of Birth: November 19, 2002<br> Address: 167 lupha gozon Letre Malabon City <br> Gender: Male </p>
               <br> <p> <h4> You can Contact us Thru</h4>
                Contact No: 09623636116 <br> Gmail: Giancarlo.sinday@gmail.com
            </p>
            </div>
        </div> 
        
    </div>
</body>
</html>